@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: aliceblue;
}


.display-flex {
    /* border: 2px dashed darkblue; */
    display: flex;
}

.text-primary {
    color: #FF900E;
}

/* dark 01 */
.text-gray {
    color: #424242;
}

/* dark02 */
.text-light-gray {
    color: #727272;
}

main {
    /* border: 2px dashed darkred; */
    max-width: 1440px;
    max-height: 715px;
    margin: 0 auto;
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 80px;
    border: none;
}



/* Navigation Bar */
.navbar {
    border: 2px dashed purple;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
ul{
    border: 1px solid darkgray;
    border-radius: 13px;
}

.features {
    gap: 140px;
}


/* Main */

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}


#feature-section-title {
    padding-left: 20px;
}


.banner {
    border: 2px dashed darkblue;
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content {
    border: 2px dashed darkorange;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    border-radius: 100px;
    border: 2px solid darkgray;
}
.banner_secondary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.banner_secondary_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner_secondary_content{
    text-align: center;
}

.teams {
    margin-top: 150px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #2e2e2e;
}

.team-img-container {
    width: 25rem;
    margin: 50px;
    border-radius: 20px;
}
.our-features {
    padding-top: 30px;
    margin: 50px;
    width: 35rem;
}